@charset "utf-8";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto_300.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto_400.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto_700.woff2) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Raleway_700.woff2) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src:  url(../fonts/Raleway_900.woff2) format('woff2');
}
.bd_clear{
    clear: both;
}
.header{
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 50px;
}
.logo{
    float: left;
}
.nav_wrap{
    float: right;
    margin-top: 20px;
}
ul.navigation{
    margin: 0px;
    padding: 0px;
}
ul.navigation > li{
    list-style: none;
    float: left;
}
ul.navigation > li > a{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight:normal;
    padding: 5px 15px;
    text-transform:capitalize;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*ul.navigation > li:last-child > a{
    padding-right: 0px;
}*/
ul.navigation > li > a:active,
ul.navigation > li > a:focus{
    color: #ffa9a9;
    text-decoration: none;
    outline: none;
}
ul.navigation > li > a:hover{
    color: #FFF;
    text-decoration: none;
}
ul.navigation > li > a.active{
    color: #FFF;
	background: #ed1c24;
    border-radius: 15px 15px 0px;
}
.banner_box{
    position: relative;
    width: 100%;
    min-height: 600px;    
}
.banner_box1{
    background: url(../images/banner1.jpg) no-repeat top center;
}
.banner_box2{
    background: url(../images/banner2.jpg) no-repeat top center;
}
.cap_wrap{
    text-align: center;
    color: #FFF;
    margin-top: 210px;
}
.cap_block{
    display: inline-block;
}
.cap_block h3{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.cap_block p{    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.banner_box .container{
    position: relative;
    min-height: 600px;
}
.banner_inner{
    text-align: center;
    margin-top: 46px;
}
.banner_inner img{
    max-width: 100%;
    margin: 0 auto;
}
.welcome_wrap{
    margin-top: 50px;
}
.welcome_head{
    text-align: center;
}
.welcome_head *{
    vertical-align: middle;
}
.welcome_head h3{
    display: inline-block;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 31px;
    color: #231f20;
    text-transform: uppercase;
}
.welcome_head img{
    display: inline-block;
    margin: 0px 7px;
}
p.welcome_text{
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    padding: 0px 50px;
    margin-top: 30px;
}
.wel_icos{
    text-align: center;
    margin-top: 80px;
}
.wel_ico_block{
    display: inline-block;
    max-width: 190px;
    text-align: center;
    vertical-align: middle;
}
span.wel_ico{
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 10px solid rgba(158, 145, 137, 0.65);
    background-repeat: no-repeat;
    background-position: center;
}
.wel_ico_block h4{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.wel_line{
    display: inline-block;
    width: 80px;
    height: 6px;
    position: relative;
    background: url(../images/wel_line_bg.png) repeat-x center;
    vertical-align: middle;
    margin-top: -40px;
}
.wel_line span{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #c5bdb9;
    top: 0;
}
.wel_line span.left_disk{
    left: 0;
}
.wel_line span.right_disk{
    right: 0;
}
.product_wrap{
    background: url(../images/product_bg.jpg) no-repeat top center;
    background-attachment: fixed;
    padding: 40px 0px 90px 0px;
    margin: 70px 0px;
}
.product_head{
    text-align: center;
    margin-bottom: 100px;
}
.product_head h3{
    font-size: 28px;
    font-weight: bold;
    color: #eb1a21;
    margin-top: 0px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.product_head span{
    display: inline-block;
    width: 221px;
    background: url(../images/pro_head_bg.png) no-repeat center;
    font-size: 22px;
    color: #FFF;
}
.pro_bg{
    background: url(../images/pro_list_bg.png) no-repeat top center;    
    margin-top: 50px;
    min-height: 630px;
}
.pro_list_rowa{
    text-align: center;
}
.pro_list_inner{
    width: 290px;
    display: inline-block;
    text-align: center;
    height: 190px;
    position: relative;
}
.pro_list_rowa .pro_list_inner{
    
}
.pro_list_inner img{
    max-width: 100%;
}
.pro_list_rowa .pro_list_inner img{
    margin: -95px auto 0px auto;    
}
.pro_list_inner h4{
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}
.pro_list_inner p{
    color: #b3b3b3;
    padding: 0px 10px;
}
.pro_rowb{
    margin-top: 32px;
}
.pro_list_rowb_left{
    text-align: center;
}
.pro_list_rowb_left .pro_list_inner img{
    margin: -117px auto 0px auto;    
}
.pro_list_inner a{
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    width: 88px;
    height: 26px;
    line-height: 26px;
    color: #FFF;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #797878;
    border-radius: 20px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -42px;
    margin-bottom: -13px;
}
.pro_list_inner a:active,
.pro_list_inner a:focus{
    text-decoration: none;
    outline: none;
    color: #FFF;
}
.pro_list_inner a:hover{
    color: #eb1a21;
    text-decoration: none;
    border-color: #eb1a21;
}
.pro_list_rowb_right{
    text-align: center;
}
.pro_list_rowb_right .pro_list_inner img{
    margin: -110px auto 0px auto; 
}
.pro_list_rowb_right a{
    margin-left: -52px;
}
.pro_rowc{
    margin-top: 28px;
}
.pro_list_rowc{
    text-align: center;
}
.pro_list_rowc .pro_list_inner img{
    margin: -114px auto 0px auto;
}
.testimonial_head{
    text-align: center;
    margin-bottom: 35px;
}
.testimonial_head h3{
    text-transform: uppercase;
    font-size: 28px;
    color: #000;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}
.testimonial_head span{
    background: url(../images/pro_head_bg.png) no-repeat center;
    width: 210px;
    display: inline-block;
}
.testi_inner{
    text-align: center;
}
.testimonial_img{
    text-align: center;
}
.testimonial_img img{
    display: inline-block;
    border-radius: 50%;
}
.testi_inner h4{
    font-size: 21px;
    font-weight: bold;
    color: #000;
    margin: 15px 0px 10px;
}
.testi_inner p.designation{
    color: #898989;
    font-size: 15px;
    font-weight: 300;
}
.testi_inner p.testimonial_text{
    font-size: 18px;
    font-weight: 300;
    color: #303030;
    max-width: 768px;
    margin: 0 auto;
}
.testimonial_wrap .bx-wrapper .bx-pager.bx-default-pager a{
    background: #d4d3d4;
    border: 2px solid transparent;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.testimonial_wrap .bx-wrapper .bx-pager.bx-default-pager a.active{
    border-color: #eb1a21;
    background: #FFF;
}
.testimonial_inner{
    position: relative;
}
.testimonial_inner span.quotes{
    position: absolute;
    z-index: 9999;
    color: #eb1a21;
    font-size: 20px;
}
.testimonial_inner span.quote_left{
    left: 150px;
    top: 185px;
}
.testimonial_inner span.quote_right{
    right: 150px;
    bottom: 0px;
}
.footer{
    background-color: #9c0307;
    color: #FFF;
}
.footer_inner{
    background: url(../images/footer_bg.png) no-repeat bottom;
    background-attachment: fixed;
    padding-top: 50px;
}
.footer_logo_area{
    text-align: center;
}
.footer_logo_area a{
    display: inline-block;
}
.footer_soc{
    /*display: inline-block;
    margin-left: 40px;*/
}
.footer_soc a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #FFF;
    font-size: 21px;
    text-align: center;
    line-height: 36px;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer_soc a:active,
.footer_soc a:focus{
    text-decoration: none;
    outline: none;
    color: #FFF;
}
.footer_soc a:hover{
    text-decoration: none;
    border-color: #b0b0b0;
    color: #CCC;
}
.footer_contact{
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
}
.footer_contact_block{
   /* display: inline-block;*/
    font-size: 18px;
    font-weight: 300;
    /*margin-right: 30px;*/
}
.footer_contact .footer_contact_block:last-child{
    margin-right: 0px;
}
.footer_contact_block span{
    display: inline-block;
    margin-right: 10px;
    font-size: 40px;
    vertical-align: middle;
}
.footer_contact_block a{
    color: #FFF;
}
.footer_contact_block a:hover{
    text-decoration: none;
}
.copy{
    display: inline-block;
    float: left;
}
.copy_wrap{
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px 0px;
}
.power{
    float: right;
}
.power a{
    display: inline-block;
    vertical-align: middle;
}
.nav_trigger{
    display: none;
    position: absolute;
    z-index: 9999;
    width: 40px;
    height: 35px;
    text-align: center;
    font-size: 21px;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    cursor: pointer;
    line-height: 35px;
    right: 15px;
    top: 35px;
}
.res_pro{
    display: none;
}
.res_pro_list{
    text-align: center;
}
.res_pro_list h4{
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.res_pro_list p{
    color: #b3b3b3;
}
.res_pro_img{
    min-height: 167px;
    margin-bottom: 15px;
}
.res_pro_list{
    margin-bottom: 60px;
}
.res_pro .row:last-child .res_pro_list{
    margin-bottom: 0px;
}
.res_pro_list a{
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    width: 88px;
    height: 26px;
    line-height: 26px;
    color: #FFF;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #797878;
    border-radius: 20px;
}
.res_pro_list a:active,
.res_pro_list a:focus{
    text-decoration: none;
    outline: none;
    color: #FFF;
}
.res_pro_list a:hover{
    color: #eb1a21;
    text-decoration: none;
    border-color: #eb1a21;
}
.header_inner{
    position: static;
    background: url(../images/header_inner_bg.jpg) no-repeat bottom;
    background-size: cover;
    padding-top: 20px;    
}
.header_inner .logo{
    padding-bottom: 20px;
}
ul.res_navigation{
    display: none;
    margin: 0px;
    padding: 0px;
}
ul.res_navigation{
    display: none;
}
ul.res_navigation > li{
    float: none;
}
ul.res_navigation > li > a{
    display: block;
    background-color: #881115;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);    
    color: #ffa9a9;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    text-transform: uppercase;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.res_navigation > li > a:active,
ul.res_navigation > li > a:focus{
    color: #ffa9a9;
    text-decoration: none;
    outline: none;
}
ul.res_navigation > li > a:hover{
    color: #FFF;
    text-decoration: none;
}
ul.res_navigation > li > a.active{
    color: #FFF;
}
.nav_trigger_inner{
    display: none;
    position: absolute;
    z-index: 9999;
    width: 40px;
    height: 35px;
    text-align: center;
    font-size: 21px;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    cursor: pointer;
    line-height: 35px;
    right: 15px;
    top: 35px;
}
.about_wrap{
    background: url(../images/product_bg.jpg) no-repeat center;
    background-attachment: fixed;
    padding: 100px 0px;
}
.about_para{
    position: relative;
    color: #FFF;
    padding: 50px 15px 20px 15px;
    border: 1px solid #454343;
    margin-top: 30px;
}
.about_para p{
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}
.about_head{
    text-align: center;  
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-top: -21px;
}
.about_head h3{
    text-transform: uppercase;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
    padding: 5px 15px;
    border: 1px solid #454343;
    border-radius: 20px;
    background-color: #000;
}
.contact_wrap{
    background: url(../images/contact_bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0px 40px 0px;
}
.contact_head{
    margin-bottom: 40px;
}
.add_block{
    text-align: center;
    color: #FFF;
    font-size: 21px;
}
.add_block span{
    display: inline-block;
    margin: 0px 15px;
}
.add_block span i{
    font-size: 21px;
}
.add_block span a{
    display: inline-block;
    color: #FFF;
    -o-transition: all 0.2s ease-out;    
    -moz-transition: all 0.2s ease-out;    
    -webkit-transition: all 0.2s ease-out;    
    transition: all 0.2s ease-out;    
}
.add_block span a:focus,
.add_block span a:active{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.add_block span a:hover{
    color: #ffa9a9;
    text-decoration: none;
}
.form_block{
    margin: 30px 0px;
}
.form_block input[type="text"],
.form_block input[type="email"],
.form_block textarea{
    display: block;
    width: 100%;
    background: transparent;
    color: #FFF;
    border: 1px solid #959595;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 16px;
}
.form_block input:focus, .form_block textarea:focus{outline:none}
.form_block input[type="text"],
.form_block input[type="email"]{
    height: 34px;
}
.form_block textarea{
    min-height: 97px;
    min-width: 100%;
    max-width: 100%;
    max-height: 97px;
    resize: none;
}
.form_block input[type="submit"]{
    display: inline-block;
    background-color: transparent;
    padding: 5px 20px;
    color: #FFF; 
    border: 1px solid #959595;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
}
.form_block input[type="submit"]:hover{
    border-color: #eb1a21;
    color: #eb1a21;
}
#gmap{
    width: 100%;
    min-height: 400px;
    margin-top: 50px;
}
.product_row{
    display: none;
}
.product_row.active{
    display: block;
}
.product_block{
    text-align: center;
    padding: 15px;
	border: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 10px;
}
.product_img{
    /*min-height: 180px;*/
}
.product_img img{
    width: 100%;
    margin: 0 auto 25px auto;
    height: 229px;
}
.product_block_text{
    text-align: left !important;
    color: #fff;}
.product_block h3{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
}
.product_block p{
    color: #dfdbdb;
    font-weight: 300;
}
.product_block .download_btn{
       padding: 5px 20px;
    background: #fff;
    display: inline-block;
    color: #e9171d;
}
.product_block .download_btn:hover{
    text-decoration: none;
    color: #fff;
    background: #e9171d;
}
.product_page_wrap{
    background: url(../images/product_page_bg.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0px;
}
.product_nav{
    background-color: #ececec;
}
.product_nav h3{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px 5px 15px;
    border-bottom: 1px solid #959595;
    margin: 0px;
}
.product_nav ul{
    padding: 0px;
    margin: 15px 0px 0px 0px;
}
.product_nav ul > li{
    list-style: none;
}
.product_nav ul > li > a{
    display: block;
    color: #000;
    padding: 5px 15px;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.product_nav ul > li > a.active{
    color: #FFF;
    background-color: #3a3a3a;
}
.product_nav ul > li > a:active,
.product_nav ul > li > a:focus{
    text-decoration: none;
    outline: none;
}
.product_nav ul > li > a:hover{
    background-color: #3a3a3a;
    color: #FFF;
    text-decoration: none;
}
.product_page_wrap_inner{
    background-color: rgba(58, 58, 58, 0.6);
}























@media only screen and (max-width: 991px){    
    .pro_bg{
        display: none;
    }
}
/* Media queries */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .pro_bg{
        background-size: 100%;
    }
    .pro_list_rowa .pro_list_inner img{
        margin-top: -120px;
    }
    .pro_list_inner{
        height: 161px;
    }
    .pro_list_inner a{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .pro_rowb {
        margin-top: 27px;
    }
    .pro_list_rowb_left .pro_list_inner img{
        margin-top: -140px;
    }
    .pro_list_rowb_right .pro_list_inner img{
        margin-top: -124px;
    }
    .pro_list_rowc .pro_list_inner img{
        margin-top: -150px;
    }
    .pro_list_inner p{
        padding: 0px 20px;
    }
    .testimonial_inner span.quote_left{
        left: 60px;
    }
    .testimonial_inner span.quote_right{
        right: 60px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .wel_line{
        width: 50px;
    }
    .res_pro{
        display: block;
    }
    .testimonial_inner span.quote_left{
        left: 0px;
    }
    .testimonial_inner span.quote_right{
        right: 0px;
    }
    .footer_contact_block{
        font-size: 18px;
    }
    .product_img{
        min-height: 150px;
    }
}
@media only screen and (max-width: 767px){
    .logo{
        float: none;
    }
    .nav_wrap{
        float: none;
        margin: 15px -15px 0px -15px;
    }
    .header{
        padding-top: 15px;
    }
    ul.navigation{
        display: none;
    }
    ul.navigation > li{
        float: none;
    }
    ul.navigation > li > a{
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }
    .nav_trigger{
        display: inline-block;
    }
    .nav_trigger_inner{
        display: inline-block;
    }
    .wel_line{
        display: none;
    }
    .wel_ico_block{
        display: block;
        margin: 30px auto;
    }
    .res_pro{
        display: block;
    }
    .res{
        margin-bottom: 60px !important;
    }
    .product_head{
        margin-bottom: 30px;
    }
    .testimonial_inner span.quote_left{
        left: 0px;
    }
    .testimonial_inner span.quote_right{
        right: 0px;
    }
    .testi_inner p.testimonial_text{
        padding: 0px 30px;
    }
    .footer_contact_block{
        display: block;
        margin: 15px 0px;
    }
    .product_wrap{
        background-repeat: repeat-y;
    }
    p.welcome_text{
        padding: 0px;
    }
    .product_nav{
        margin-bottom: 15px;
    }
    .cap_wrap{
	margin-top: 130px;    
    }
}
@media only screen and (max-width: 550px){
    .footer_soc{
        display: block;
        margin: 15px 0px 15px 0px;
    }
}
@media only screen and (max-width: 480px){
    .copy{
        float: none;
        text-align: center;
        display: block;
    }
    .power{
        float: none;
        text-align: center;
        margin-top: 15px;
        display: block;
    }
}

.product_details{
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
.product_details h3{
    
}
.product_details p{
    
}
.map_head{
    text-align: center;
    color: #fff;
    background: #868485;
    padding: 8px 0px;
    margin-top: 20px;
}
.map_head h4{
    margin: 0;
}

.product_block ul{
    color: #fff;
}
.product_block ul li{
    color: #fff;
    text-align: left;
}




















